{% extends 'base.html.twig' %}

{% block title %}Edit Energy
{% endblock %}

{% block body %}
	<h1>Edit Energy</h1>
	<turbo-frame id="energies">
		<div class="overlay" id="contact-overlay">
			<div class="overlay-content">
				{{ include('energy/_form.html.twig', {'button_label': 'Update'}) }}

			</turbo-frame>
			{{ include('energy/_delete_form.html.twig') }}
		{% endblock %}
