{% extends 'base.html.twig' %}

{% block title %}Edit Energy
{% endblock %}

{% block body %}
	<h1>Edit Energy</h1>
	<turbo-frame id="energies">
		<div class="overlay" id="energies-overlay">
			<div class="overlay-content" id="form-container">
				{{ include('energy/_form.html.twig', {'button_label': 'Update'}) }}
			</div>
		</div>
	</turbo-frame>
	{{ include('energy/_delete_form.html.twig') }}
{% endblock %}
