{% extends 'base.html.twig' %}

{% block title %}Edit FTA{% endblock %}

{% block body %}
    <h1>Edit FTA</h1>

    {{ include('fta/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fta_index') }}">back to list</a>

    {{ include('fta/_delete_form.html.twig') }}
{% endblock %}
