{% extends 'base.html.twig' %}

{% block title %}Edit FTA{% endblock %}

{% block body %}
    <h1>Edit FTA</h1>

    {{ include('fta/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fta_index') }}">back to list</a>

    {{ component('DeleteButton', {
        deleteRoute: 'app_fta_delete',
        deleteRouteParams: {'id': fta.id},
        entityId: fta.id,
        showLabel: true
    }) }}
{% endblock %}
