{% extends 'base.html.twig' %}

{% block title %}New FTA{% endblock %}

{% block body %}
    <h1>Create new FTA</h1>

    {{ include('fta/_form.html.twig') }}

    <a href="{{ path('app_fta_index') }}">back to list</a>
{% endblock %}
