{% extends 'base.html.twig' %}

{% block title %}{{ 'dashboard.title'|trans }}{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ 'dashboard.title'|trans }}</h1>
    </div>

    <section class="section dashboard">
        {# Ligne 1 : 4 cartes statistiques sur toute la largeur #}
        <div class="row mb-4">
            {% include 'home/dashboard/_card_customers.html.twig' %}
            {% include 'home/dashboard/_card_revenue.html.twig' %}
            {% include 'home/dashboard/_card_contracts.html.twig' %}
            {% include 'home/dashboard/_card_stats.html.twig' %}
        </div>

        {# Ligne 2 : Clients récents + Documents récents #}
        <div class="row mb-4">
            <div class="col-lg-8">
                {% include 'home/dashboard/_card_recent_clients.html.twig' %}
            </div>
            <div class="col-lg-4">
                {% include 'home/dashboard/_card_recent_documents.html.twig' %}
            </div>
        </div>

        {# Ligne 3 : Événements + Contrats expirants #}
        <div class="row mb-4">
            <div class="col-lg-8">
                {% include 'home/dashboard/_card_upcoming_events.html.twig' %}
            </div>
            <div class="col-lg-4">
                {% include 'home/dashboard/_card_expiring_contracts.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}
