{% extends 'base.html.twig' %}

{% block title %}{{ 'dashboard.title'|trans }}{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ 'dashboard.title'|trans }}</h1>
    </div>

    <section class="section dashboard">
        <div class="row">

            <!-- Colonne gauche -->
            <div class="col-lg-8">
                <div class="row">
                    {# Card Clients #}
                    {% include 'home/dashboard/_card_customers.html.twig' %}

                    {# Card Chiffre d'affaires #}
                    {% include 'home/dashboard/_card_revenue.html.twig' %}

                    {# Card Contrats à renouveler #}
                    {% include 'home/dashboard/_card_contracts.html.twig' %}

                    {# Clients récents #}
                    {% include 'home/dashboard/_card_recent_clients.html.twig' %}

                    {# Prochains événements #}
                    {% include 'home/dashboard/_card_upcoming_events.html.twig' %}

                    {# Contrats expirant bientôt - Déplacé ici #}
                    {% include 'home/dashboard/_card_expiring_contracts.html.twig' %}
                </div>
            </div>

            <!-- Colonne droite -->
            <div class="col-lg-4">
                <div class="row">
                    {# Carte des statistiques - Déplacée en haut #}
                    {% include 'home/dashboard/_card_stats.html.twig' %}

                    {# Documents récents #}
                    {% include 'home/dashboard/_card_recent_documents.html.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}