<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         beStrictAboutTestsThatDoNotTestAnything="false"
         failOnDeprecation="false"
         failOnWarning="false"
         failOnNotice="false"
         failOnIncomplete="false"
         failOnSkipped="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="test" force="true"/>
        <!-- Allow indirect deprecations (from vendor libraries like Twig) without failing -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" force="true"/>
        <!-- DATABASE_URL for test environment - force="true" ensures we use the test database -->
        <env name="DATABASE_URL" value="mysql://symfony:symfony@database:3306/symfony_test?serverVersion=8.0.40&amp;charset=utf8mb4" force="true"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>

</phpunit>
