{% extends 'base.html.twig' %}

{% block title %}
	{{ "menu.customer"|trans }}
{% endblock %}

{% block body %}
<div data-controller="modal">
	{% include 'customer/_header.html.twig' with {'customer': customer} %}

	<section class="section dashboard">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					{% include 'customer/_information_card.html.twig' with {'customer': customer} %}
					{% include 'customer/_energy_section.html.twig' with {'customer': customer} %}
					{% include 'customer/_contact_section.html.twig' with {'customer': customer} %}
				</div>
			</div>

			<div class="col-lg-4">
				{% include 'customer/_comment_section.html.twig' with {'customer': customer} %}
				{% include 'customer/_document_section.html.twig' with {'customer': customer, 'formDocument': formDocument} %}
			</div>
		</div>
	</section>

	<div class="modal fade"
		 id="modal"
		 tabindex="-1"
		 data-modal-target="modal">
		<div class="modal-dialog">
			<div class="modal-content" data-modal-target="content">
				<div class="modal-loading">
					{{ 'modal.loading'|trans }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
