{% extends 'base.html.twig' %}

{% block title %}
    {{ 'document_signature.index.title'|trans }}
{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ 'document_signature.index.h2'|trans }}</h1>
    </div>

    <section class="section">
        <twig:Table
                :paginator="documents"
                :columns="[
                {field: 'clientSigningDocumentSigners', label: 'document_signature.index.signers'},
                {field: 'signatureRequestStatus', label: 'document_signature.signature_request_status'}
            ]"
                :options="{
                routes: {
                    show: 'app_document_signature_document_status'
                },
                tableClass: 'table table-hover',
                theadClass: 'table-primary',
                actions: {
                    show: true,
                    edit: false,
                    delete: false
                }
            }"
        >
            {% block column_clientSigningDocumentSigners %}
                <ul>
                    {% for signer in entity.clientSigningDocumentSigners %}
                        <li>{{ signer.client.fullName }}</li>
                    {% endfor %}
                </ul>
            {% endblock %}

            {% block column_signatureRequestStatus %}
                <span class="badge
                    {% if entity.signatureRequestStatus.value == 'initiated' %}text-bg-light
                    {% elseif entity.signatureRequestStatus.value == 'notified' %}text-bg-info
                    {% elseif entity.signatureRequestStatus.value == 'processing' %}text-bg-primary
                    {% elseif entity.signatureRequestStatus.value == 'declined' %}text-bg-danger
                    {% elseif entity.signatureRequestStatus.value == 'signed' %}text-bg-success
                    {% elseif entity.signatureRequestStatus.value == 'aborted' %}text-bg-secondary
                    {% elseif entity.signatureRequestStatus.value == 'error' %}text-bg-danger
                    {% endif %}">
                    {{ entity.signatureRequestStatus.label|trans }}
                </span>
            {% endblock %}
        </twig:Table>
    </section>
{% endblock %}