{% extends 'base.html.twig' %}

{% block title %}
    {{ 'document_type.index.title'|trans }}
{% endblock %}

{% block body %}
    <div class="pagetitle d-flex justify-content-between align-items-center">
        <h1>{{ 'document_type.index.title'|trans }}</h1>
        <twig:Button
                link="{{ path('app_document_type_new') }}"
                theme="primary"
                icon="plus"
        />
    </div>

    <section class="section">
        <twig:Table
                :paginator="document_types"
                :columns="[
                {field: 'label', label: 'document_type.label', sortable: true}
            ]"
                :options="{
                routes: {
                    show: 'app_document_type_show',
                    edit: 'app_document_type_edit',
                    delete: 'app_document_type_delete'
                },
                tableClass: 'table table-hover',
                theadClass: 'table-primary'
            }"
        />
    </section>
{% endblock %}