{% extends 'base.html.twig' %}

{% block title %}Edit Contact
{% endblock %}

{% block body %}
	<div class="pagetitle d-flex justify-content-between">
		<h1>{{ "menu.contact"|trans }}</h1>
	</div>
	<section class="section">
		<div class="card p-4">
			<div class="card-body">
				<turbo-frame id="contact">
					{% if not (app.request.pathinfo starts with '/contact/' and app.request.pathinfo ends with '/edit') %}
						<div class="overlay" id="contact-overlay">
							<div class="overlay-content">
								{{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}
							</div>
						</div>
					{% else %}
						{{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}
					{% endif %}
				</turbo-frame>
				<div class="divFlexGap">
					{{ include('contact/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
