{% extends 'base.html.twig' %}

{% block title %}{{ ('menu.' ~ entityName)|trans }}{% endblock %}

{% block body %}
	<div class="pagetitle d-flex justify-content-between align-items-center">
		<h1>{{ ('menu.' ~ entityName)|trans }}</h1>
		<a href="{{ path(baseRouteName ~ '_new') }}" class="btn btn-sm btn-primary rounded-circle">
			<i class="bi bi-plus"></i>
		</a>
	</div>

	<section class="section">
		<twig:Table
				:paginator="entities"
				:columns="[
        {field: 'email', label: 'contact.email', sortable: true},
        {field: 'lastName', label: 'contact.last_name', sortable: true},
        {field: 'position', label: 'contact.position'},
        {field: 'phone', label: 'contact.phone'},
        {field: 'mobilePhone', label: 'contact.mobile_phone'},
    ]"
				:options="{
        routes: {
            show: 'app_contact_show',
            edit: 'app_contact_edit',
            delete: 'app_contact_delete'
        }
    }"
		/>
	</section>
{% endblock %}