{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
<div class="pagetitle">
    <h1>Create New Contact</h1>
</div>

<div class="container mt-4">
    {% include 'contact/_form.html.twig' %}
</div>
{% endblock %}
