{% extends 'mailer/base_email.html.twig' %}

{% block email_content %}
    <p>
        Votre compte a été créé avec succès. Votre responsable vous a ajouté en tant que collaborateur.
    </p>
    <p class="text-center">

    </p>
{% endblock %}
