{% extends 'base.html.twig' %}

{% block title %}
    {{ "user.index"|trans }}
{% endblock %}

{% block body %}
    <div class="pagetitle d-flex justify-content-between">
        <h1>{{ "menu.user"|trans }}</h1>
        <twig:Button
                link="{{ path('app_user_new') }}"
                theme="primary"
                label="button.newUser"
                icon="plus"
        />
    </div>
    <section class="section">
        <twig:Table
                :paginator="users"
                :columns="[
                {field: 'name', label: 'user.name'},
                {field: 'lastName', label: 'user.last_name'},
                {field: 'email', label: 'user.email'},
                {field: 'roles', label: 'user.roles'},
            ]"
                :options="{
                routes: {
                    show: 'app_user_show',
                    edit: 'app_user_edit',
                    delete: 'app_user_delete'
                },
                tableClass: 'table table-hover',
                theadClass: 'table-primary',
                actions: {
                    show: true,
                    edit: true,
                    delete: true
                }
            }"
        >
            {% block column_roles %}
                {% for role in entity.roles %}
                    <div class="text-sm text-gray-500">{{ role|trans }}</div>
                {% endfor %}
            {% endblock %}

        </twig:Table>
    </section>
{% endblock %}
